<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c-<%= year %>"><%= year %></a>
  </div>
  <div class="accordion-body collapse <% if session[:monthly].year == year %> in <% end %>" id="c-<%= year %>">
    <% monthlies.each do |monthly| %>
    <div class="accordion-inner">
      <%= link_to monthly.month, time_records_path + "?monthly_id=" + monthly.id.to_s %>
    </div>
    <% end %>
  </div>
</div>
