<div class="page-header">
  <h1>Time Records <%= session[:monthly].year.to_s + '-' + session[:monthly].month.to_s if session[:monthly] %></h1>
</div>
<div class="row-fluid">
  <div class="span9">
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Note</th>
        <th></th>
      </tr>
      <% @time_records.each do |time_record| %>
        <%= render 'index_row', :time_record => time_record %>
      <% end %>
    </table>
  </div>
  <div class="span3">
    <div class="sidebar-nav">
      <div class="accordion" id="accordion">
        <% @monthliesHash.each do |year, monthlies| %>
          <%= render 'monthlies_accordion', :year => year, :monthlies => monthlies %>
        <% end %>
        <%= link_to 'New Monthly', new_monthly_path, class: "btn", remote: true %>
      </div>
    </div>
  </div>
</div>


<!-- Modal Dialog -->
<div id="modalForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
    <h3 id="modalHeaderLabel"></h3>
  </div>
  <div id="modalBody" class="modal-body"/>
    <!-- _modal_form is rendered here-->
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="modalFormSubmit" class="btn btn-primary">Save</button>
    <!-- TODO ajax and prevent double click -->
  </div>
</div>
